<h1>{{title}}</h1>
<div style="margin-left:20px; margin-top:20px">
    <h4>Details:</h4>
    <ul class="list-group">
        <li class="list-group-item">Description: {{this.product.description}}</li>
        <li class="list-group-item">Price: {{this.product.price}}</li>
        <li class="list-group-item">Quantity: {{this.product.quantityInStock}}</li>
    </ul>
    <a href="{{this.product.url}}/delete">Delete Product</a>
</div>
<a href="/inventory">Home</a>